# The GroupBy Object

In [1]:
import pandas as pd

## The Fortune 1000 Dataset
- The **Fortune 1000** is a listing of the 1000 largest American companies as ranked by Fortune magazine.
- The **DataFrame** includes the company's name, sector, industry, and revenues, profits, and employees.

In [5]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [6]:
fortune.nunique()

Company      996
Sector        21
Industry      73
Revenue      945
Profits      760
Employees    755
dtype: int64

## The groupby Method
- **Grouping** is a way to organize/categorize/group the data based on a column's values.
- The `groupby` method returns a **DataFrameGroupBy** object. It resembles a group/collection of **DataFrames** in a dictionary-like structure.
- The **DataFrameGroupBy** object can perform aggregate operations on *each* group within it.

In [14]:
fortune.groupby("Sector")

In [8]:
fortune.groupby("Sector").head() # groupby gives a collection of dataframes

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
261,Estee Lauder,Household Products,Household and Personal Products,10780,1089,44000
301,Lennar,Engineering & Construction,Homebuilders,9474,803,7749
340,PVH,Apparel,Apparel,8020,572,26200
354,Ralph Lauren,Apparel,Apparel,7620,702,20000
448,Hanesbrands,Apparel,Apparel,5732,429,65300

In [16]:
grouped_sector = fortune.groupby('Sector')

# Iterating through groups
for sector, group_data in grouped_sector:
    print(f"Sector: {sector}")
    print(group_data.head())

Sector: Aerospace & Defense
                  Company               Sector               Industry  \
Rank
24                 Boeing  Aerospace & Defense  Aerospace and Defense
45    United Technologies  Aerospace & Defense  Aerospace and Defense
60        Lockheed Martin  Aerospace & Defense  Aerospace and Defense
88       General Dynamics  Aerospace & Defense  Aerospace and Defense
118      Northrop Grumman  Aerospace & Defense  Aerospace and Defense

      Revenue  Profits  Employees
Rank
24      96114     5176     161400
45      61047     7608     197200
60      46132     3605     126000
88      31469     2965      99900
118     23526     1990      65000
Sector: Apparel
           Company   Sector Industry  Revenue  Profits  Employees
Rank
91            Nike  Apparel  Apparel    30601     3273      62600
231             VF  Apparel  Apparel    12377     1232      64000
340            PVH  Apparel  Apparel     8020      572      26200
354   Ralph Lauren  Apparel  Apparel     7620      702      20000
448    Hanesbrands  Apparel  Apparel     5732      429      65300
Sector: Business Services
               Company             Sector                          Industry  \
Rank
144      ManpowerGroup  Business Services                    Temporary Help
186      Omnicom Group  Business Services            Advertising, marketing
199            Aramark  Business Services  Diversified Outsourcing Services
204               Visa  Business Services           Financial Data Services
221   Waste Management  Business Services                  Waste Management

      Revenue  Profits  Employees
Rank
144     19330      419      27000
186     15134     1094      74900
199     14329      236     216500
204     13880     6328      11300
221     12961      753      40600
Sector: Chemicals
             Company     Sector   Industry  Revenue  Profits  Employees
Rank
56      Dow Chemical  Chemicals  Chemicals    48778     7685      49495
101           DuPont  Chemicals  Chemicals    27940     1953      52000
182   PPG Industries  Chemicals  Chemicals    15330     1406      46600
189         Monsanto  Chemicals  Chemicals    15001     2314      24000
206           Ecolab  Chemicals  Chemicals    13545     1002      47145
Sector: Energy
                 Company  Sector            Industry  Revenue  Profits  \
Rank
2            Exxon Mobil  Energy  Petroleum Refining   246204    16150
14               Chevron  Energy  Petroleum Refining   131118     4587
30           Phillips 66  Energy  Petroleum Refining    87169     4227
32         Valero Energy  Energy  Petroleum Refining    81824     3990
42    Marathon Petroleum  Energy  Petroleum Refining    64566     2852

      Employees
Rank
2         75600
14        61500
30        14000
32        10103
42        45440
Sector: Engineering & Construction
                       Company                      Sector  \
Rank
155                      Fluor  Engineering & Construction
156                      AECOM  Engineering & Construction
235   Jacobs Engineering Group  Engineering & Construction
260                D.R. Horton  Engineering & Construction
301                     Lennar  Engineering & Construction

                       Industry  Revenue  Profits  Employees
Rank
155   Engineering, Construction    18114      413      38758
156   Engineering, Construction    17990     -155      92000
235   Engineering, Construction    12115      303      56950
260                Homebuilders    10824      751       6230
301                Homebuilders     9474      803       7749
Sector: Financials
                    Company      Sector  \
Rank
4        Berkshire Hathaway  Financials
16               Fannie Mae  Financials
23        J.P. Morgan Chase  Financials
26    Bank of America Corp.  Financials
27              Wells Fargo  Financials

                                      Industry  Revenue  Profits  Employees
Rank
4     Insurance: Property and Casualty (Stock)   210821    24083     331000
16                      Diversified Financials   110359    10954       7300
23                            Commercial Banks   101006    24442     234598
26                            Commercial Banks    93056    15888     213280
27                            Commercial Banks    90033    22894     264700
Sector: Food and Drug Stores
                       Company                Sector              Industry  \
Rank
7                   CVS Health  Food and Drug Stores  Food and Drug Stores
17                      Kroger  Food and Drug Stores  Food and Drug Stores
19    Walgreens Boots Alliance  Food and Drug Stores  Food and Drug Stores
87        Publix Super Markets  Food and Drug Stores  Food and Drug Stores
107                   Rite Aid  Food and Drug Stores  Food and Drug Stores

      Revenue  Profits  Employees
Rank
7      153290     5237     199000
17     109830     2039     431000
19     103444     4220     302500
87      32619     1965     180000
107     26528     2109      69865
Sector: Food, Beverages & Tobacco
                     Company                     Sector  \
Rank
41    Archer Daniels Midland  Food, Beverages & Tobacco
44                   PepsiCo  Food, Beverages & Tobacco
62                 Coca-Cola  Food, Beverages & Tobacco
66               Tyson Foods  Food, Beverages & Tobacco
84                       CHS  Food, Beverages & Tobacco

                    Industry  Revenue  Profits  Employees
Rank
41           Food Production    67702     1849      32300
44    Food Consumer Products    63056     5452     263000
62                 Beverages    44294     7351     123200
66           Food Production    41373     1220     113000
84           Food Production    34582      781      12511
Sector: Health Care
                      Company       Sector  \
Rank
5                    McKesson  Health Care
6          UnitedHealth Group  Health Care
12          AmerisourceBergen  Health Care
21            Cardinal Health  Health Care
22    Express Scripts Holding  Health Care

                                      Industry  Revenue  Profits  Employees
Rank
5                     Wholesalers: Health Care   181241     1476      70400
6      Health Care: Insurance and Managed Care   157107     5813     200000
12                    Wholesalers: Health Care   135962     -135      17000
21                    Wholesalers: Health Care   102531     1215      34500
22    Health Care: Pharmacy and Other Services   101752     2476      25900
Sector: Hotels, Resturants & Leisure
                     Company                        Sector  \
Rank
109               McDonald’s  Hotels, Resturants & Leisure
146                Starbucks  Hotels, Resturants & Leisure
195   Marriott International  Hotels, Resturants & Leisure
218               Yum Brands  Hotels, Resturants & Leisure
241          Las Vegas Sands  Hotels, Resturants & Leisure

                      Industry  Revenue  Profits  Employees
Rank
109              Food Services    25413     4529     420000
146              Food Services    19163     2757     238000
195   Hotels, Casinos, Resorts    14486      859     127500
218              Food Services    13105     1293     505000
241   Hotels, Casinos, Resorts    11689     1966      46500
Sector: Household Products
                     Company              Sector  \
Rank
34          Procter & Gamble  Household Products
151           Kimberly-Clark  Household Products
174        Colgate-Palmolive  Household Products
256   Stanley Black & Decker  Household Products
261             Estee Lauder  Household Products

                             Industry  Revenue  Profits  Employees
Rank
34    Household and Personal Products    78756     7036     110000
151   Household and Personal Products    18591     1013      43000
174   Household and Personal Products    16034     1384      37900
256       Home Equipment, Furnishings    11211      884      51250
261   Household and Personal Products    10780     1089      44000
Sector: Industrials
                      Company       Sector                         Industry  \
Rank
11           General Electric  Industrials             Industrial Machinery
59                Caterpillar  Industrials  Construction and Farm Machinery
75    Honeywell International  Industrials   Electronics, Electrical Equip.
93                         3M  Industrials                    Miscellaneous
97                      Deere  Industrials  Construction and Farm Machinery

      Revenue  Profits  Employees
Rank
11     140389    -6126     333000
59      47011     2102     112200
75      38581     4768     129000
93      30274     4833      89446
97      28863     1940      57180
Sector: Materials
                  Company     Sector               Industry  Revenue  Profits  \
Rank
126                 Alcoa  Materials                 Metals    22534     -322
127   International Paper  Materials  Packaging, Containers    22365      938
170                 Nucor  Materials                 Metals    16439      358
244   United States Steel  Materials                 Metals    11574    -1642
251              WestRock  Materials  Packaging, Containers    11381      507

      Employees
Rank
126       60000
127       56000
170       23700
244       33200
251       41400
Sector: Media
                       Company Sector       Industry  Revenue  Profits  \
Rank
53                      Disney  Media  Entertainment    52465     8382
96    Twenty-First Century Fox  Media  Entertainment    28987     8306
99                 Time Warner  Media  Entertainment    28118     3833
203                        CBS  Media  Entertainment    13886     1413
213                     Viacom  Media  Entertainment    13268     1922

      Employees
Rank
53       185000
96        20500
99        24800
203       19080
213        9445
Sector: Motor Vehicles & Parts
               Company                  Sector                  Industry  \
Rank
8       General Motors  Motor Vehicles & Parts  Motor Vehicles and Parts
9           Ford Motor  Motor Vehicles & Parts  Motor Vehicles and Parts
70    Johnson Controls  Motor Vehicles & Parts  Motor Vehicles and Parts
147             Paccar  Motor Vehicles & Parts  Motor Vehicles and Parts
154               Lear  Motor Vehicles & Parts  Motor Vehicles and Parts

      Revenue  Profits  Employees
Rank
8      152356     9687     215000
9      149558     7373     199000
70      40204     1563     139000
147     19115     1604      23000
154     18211      746     136200
Sector: Retailing
         Company     Sector                    Industry  Revenue  Profits  \
Rank
1        Walmart  Retailing       General Merchandisers   482130    14694
15        Costco  Retailing  Specialty Retailers: Other   116199     2377
28    Home Depot  Retailing  Specialty Retailers: Other    88519     7009
38        Target  Retailing       General Merchandisers    73785     3363
47        Lowe’s  Retailing  Specialty Retailers: Other    59074     2546

      Employees
Rank
1       2300000
15       161000
28       385000
38       341000
47       225000
Sector: Technology
         Company      Sector                         Industry  Revenue  \
Rank
3          Apple  Technology      Computers, Office Equipment   233715
18    Amazon.com  Technology  Internet Services and Retailing   107006
20            HP  Technology      Computers, Office Equipment   103355
25     Microsoft  Technology                Computer Software    93580
31           IBM  Technology  Information Technology Services    82461

      Profits  Employees
Rank
3       53394     110000
18        596     230800
20       4554     287000
25      12193     118000
31      13190     411798
Sector: Telecommunications
                Company              Sector            Industry  Revenue  \
Rank
10                 AT&T  Telecommunications  Telecommunications   146801
13              Verizon  Telecommunications  Telecommunications   131620
37              Comcast  Telecommunications  Telecommunications    74510
116   Time Warner Cable  Telecommunications  Telecommunications    23697
159         CenturyLink  Telecommunications  Telecommunications    17900

      Profits  Employees
Rank
10      13345     281450
13      17879     177700
37       8163     153000
116      1844      56430
159       878      43000
Sector: Transportation
                          Company          Sector  \
Rank
48                            UPS  Transportation
58                          FedEx  Transportation
67        American Airlines Group  Transportation
68                Delta Air Lines  Transportation
80    United Continental Holdings  Transportation

                                 Industry  Revenue  Profits  Employees
Rank
48    Mail, Package, and Freight Delivery    58363     4844     341240
58    Mail, Package, and Freight Delivery    47453     1050     323035
67                               Airlines    40990     7610     118500
68                               Airlines    40704     4526      82949
80                               Airlines    37864     7340      84000
Sector: Wholesalers
                  Company       Sector  \
Rank
57                  Sysco  Wholesalers
64           Ingram Micro  Wholesalers
92    World Fuel Services  Wholesalers
102                 Avnet  Wholesalers
108             Tech Data  Wholesalers

                                           Industry  Revenue  Profits  \
Rank
57                    Wholesalers: Food and Grocery    48681      687
64    Wholesalers: Electronics and Office Equipment    43026      215
92                         Wholesalers: Diversified    30380      187
102   Wholesalers: Electronics and Office Equipment    27925      572
108   Wholesalers: Electronics and Office Equipment    26380      266

      Employees
Rank
57        51700
64        27700
92         4700
102       18800
108        9000

In [17]:
grouped_sector.first()

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,Nike,Apparel,30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,Dow Chemical,Chemicals,48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,General Electric,Industrial Machinery,140389,-6126,333000
Materials,Alcoa,Metals,22534,-322,60000
Media,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,Walmart,General Merchandisers,482130,14694,2300000
Technology,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,AT&T,Telecommunications,146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [12]:
len(grouped_sector)

21

In [13]:
grouped_sector.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

## Retrieve a Group with the get_group Method
- The `get_group` method on the **DataFrameGroupBy** object retrieves a nested **DataFrame** belonging to a specific group/category.

In [18]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")

fortune.head(5)

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [19]:
sectors.get_group("Energy")

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

## Methods on the GroupBy Object
- Use square brackets on the **DataFrameGroupBy** object to "extract" a column from the original **DataFrame**.
- The resulting **SeriesGroupBy** object will have aggregation methods available on it.
- Pandas will perform the calculation on *every* group within the collection.
- For example, the `sum` method will sum together the **Revenues** for every row by group/category.

In [20]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")

fortune.head(5)

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [28]:
## get sectorwise revenue sum
## Just showing that there are certain things we can do via Pivot as well
fortune.pivot_table(values="Revenue", index="Sector", aggfunc="sum")

                              Revenue
Sector
Aerospace & Defense            357940
Apparel                         95968
Business Services              272195
Chemicals                      243897
Energy                        1517809
Engineering & Construction     153983
Financials                    2217159
Food and Drug Stores           483769
Food, Beverages & Tobacco      555967
Health Care                   1614707
Hotels, Resturants & Leisure   169546
Household Products             234737
Industrials                    497581
Materials                      259145
Media                          220764
Motor Vehicles & Parts         482540
Retailing                     1465076
Technology                    1377600
Telecommunications             461834
Transportation                 408508
Wholesalers                    444800

In [25]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [24]:
sectors["Revenue"].get_group("Energy").sum()

1517809

In [27]:
sectors["Profits"].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [32]:
sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

## Grouping by Multiple Columns
- Pass a list of columns to the **groupby** method to group by pairings of values across columns.
- Target a column to retrieve the **SeriesGroupBy** object, then perform an aggregation with a method.
- Pandas will return a **MultiIndex** **Series** where the levels will be the original groups.

In [33]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(["Sector", "Industry"])

fortune.head(5)

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [34]:
fortune.groupby(["Sector", "Industry"])

In [36]:
sectors.first()

                                                                               Company  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                                       Boeing
Apparel             Apparel                                                       Nike
Business Services   Advertising, marketing                               Omnicom Group
                    Diversified Outsourcing Services                           Aramark
                    Education                                          Graham Holdings
...                                                                                ...
Transportation      Trucking, Truck Leasing                               Ryder System
Wholesalers         Miscellaneous                                               Univar
                    Wholesalers: Diversified                       World Fuel Services
                    Wholesalers: Electronics and Office Equipment         Ingram Micro
                    Wholesalers: Food and Grocery                                Sysco

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            96114
Apparel             Apparel                                          30601
Business Services   Advertising, marketing                           15134
                    Diversified Outsourcing Services                 14329
                    Education                                         2984
...                                                                    ...
Transportation      Trucking, Truck Leasing                           6572
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                         30380
                    Wholesalers: Electronics and Office Equipment    43026
                    Wholesalers: Food and Grocery                    48681

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                             5176
Apparel             Apparel                                           3273
Business Services   Advertising, marketing                            1094
                    Diversified Outsourcing Services                   236
                    Education                                         -101
...                                                                    ...
Transportation      Trucking, Truck Leasing                            305
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                           187
                    Wholesalers: Electronics and Office Equipment      215
                    Wholesalers: Food and Grocery                      687

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             161400
Apparel             Apparel                                            62600
Business Services   Advertising, marketing                             74900
                    Diversified Outsourcing Services                  216500
                    Education                                          11585
...                                                                      ...
Transportation      Trucking, Truck Leasing                            33100
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                            4700
                    Wholesalers: Electronics and Office Equipment      27700
                    Wholesalers: Food and Grocery                      51700

[79 rows x 4 columns]

In [37]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [38]:
for (sector, industry), group_data in fortune.groupby(["Sector", "Industry"]):
    print(f"Sector: {sector}, Industry: {industry}")
    print(group_data.head(1))

Sector: Aerospace & Defense, Industry: Aerospace and Defense
     Company               Sector               Industry  Revenue  Profits  \
Rank
24    Boeing  Aerospace & Defense  Aerospace and Defense    96114     5176

      Employees
Rank
24       161400
Sector: Apparel, Industry: Apparel
     Company   Sector Industry  Revenue  Profits  Employees
Rank
91      Nike  Apparel  Apparel    30601     3273      62600
Sector: Business Services, Industry: Advertising, marketing
            Company             Sector                Industry  Revenue  \
Rank
186   Omnicom Group  Business Services  Advertising, marketing    15134

      Profits  Employees
Rank
186      1094      74900
Sector: Business Services, Industry: Diversified Outsourcing Services
      Company             Sector                          Industry  Revenue  \
Rank
199   Aramark  Business Services  Diversified Outsourcing Services    14329

      Profits  Employees
Rank
199       236     216500
Sector: Business Services, Industry: Education
              Company             Sector   Industry  Revenue  Profits  \
Rank
737   Graham Holdings  Business Services  Education     2984     -101

      Employees
Rank
737       11585
Sector: Business Services, Industry: Financial Data Services
     Company             Sector                 Industry  Revenue  Profits  \
Rank
204     Visa  Business Services  Financial Data Services    13880     6328

      Employees
Rank
204       11300
Sector: Business Services, Industry: Miscellaneous
             Company             Sector       Industry  Revenue  Profits  \
Rank
440   United Rentals  Business Services  Miscellaneous     5817      585

      Employees
Rank
440       12700
Sector: Business Services, Industry: Temporary Help
            Company             Sector        Industry  Revenue  Profits  \
Rank
144   ManpowerGroup  Business Services  Temporary Help    19330      419

      Employees
Rank
144       27000
Sector: Business Services, Industry: Waste Management
               Company             Sector          Industry  Revenue  Profits  \
Rank
221   Waste Management  Business Services  Waste Management    12961      753

      Employees
Rank
221       40600
Sector: Chemicals, Industry: Chemicals
           Company     Sector   Industry  Revenue  Profits  Employees
Rank
56    Dow Chemical  Chemicals  Chemicals    48778     7685      49495
Sector: Energy, Industry: Energy
         Company  Sector Industry  Revenue  Profits  Employees
Rank
193   NRG Energy  Energy   Energy    14674    -6382      10468
Sector: Energy, Industry: Mining, Crude-Oil Production
             Company  Sector                      Industry  Revenue  Profits  \
Rank
90    ConocoPhillips  Energy  Mining, Crude-Oil Production    30935    -4428

      Employees
Rank
90        15900
Sector: Energy, Industry: Miscellaneous
                   Company  Sector       Industry  Revenue  Profits  Employees
Rank
696   American Water Works  Energy  Miscellaneous     3159      476       6700
Sector: Energy, Industry: Oil and Gas Equipment, Services
          Company  Sector                         Industry  Revenue  Profits  \
Rank
117   Halliburton  Energy  Oil and Gas Equipment, Services    23633     -671

      Employees
Rank
117       65000
Sector: Energy, Industry: Petroleum Refining
          Company  Sector            Industry  Revenue  Profits  Employees
Rank
2     Exxon Mobil  Energy  Petroleum Refining   246204    16150      75600
Sector: Energy, Industry: Pipelines
                     Company  Sector   Industry  Revenue  Profits  Employees
Rank
65    Energy Transfer Equity  Energy  Pipelines    42126     1189      30078
Sector: Energy, Industry: Utilities: Gas and Electric
     Company  Sector                     Industry  Revenue  Profits  Employees
Rank
95    Exelon  Energy  Utilities: Gas and Electric    29447     2269      29762
Sector: Engineering & Construction, Industry: Engineering, Construction
     Company                      Sector                   Industry  Revenue  \
Rank
155    Fluor  Engineering & Construction  Engineering, Construction    18114

      Profits  Employees
Rank
155       413      38758
Sector: Engineering & Construction, Industry: Homebuilders
          Company                      Sector      Industry  Revenue  Profits  \
Rank
260   D.R. Horton  Engineering & Construction  Homebuilders    10824      751

      Employees
Rank
260        6230
Sector: Financials, Industry: Commercial Banks
                Company      Sector          Industry  Revenue  Profits  \
Rank
23    J.P. Morgan Chase  Financials  Commercial Banks   101006    24442

      Employees
Rank
23       234598
Sector: Financials, Industry: Diversified Financials
         Company      Sector                Industry  Revenue  Profits  \
Rank
16    Fannie Mae  Financials  Diversified Financials   110359    10954

      Employees
Rank
16         7300
Sector: Financials, Industry: Insurance: Life, Health (Mutual)
                      Company      Sector                          Industry  \
Rank
61    New York Life Insurance  Financials  Insurance: Life, Health (Mutual)

      Revenue  Profits  Employees
Rank
61      45891      257      11463
Sector: Financials, Industry: Insurance: Life, Health (stock)
      Company      Sector                         Industry  Revenue  Profits  \
Rank
40    MetLife  Financials  Insurance: Life, Health (stock)    69951     5310

      Employees
Rank
40        69000
Sector: Financials, Industry: Insurance: Property and Casualty (Mutual)
                        Company      Sector  \
Rank
35    State Farm Insurance Cos.  Financials

                                       Industry  Revenue  Profits  Employees
Rank
35    Insurance: Property and Casualty (Mutual)    75697     6229      70425
Sector: Financials, Industry: Insurance: Property and Casualty (Stock)
                 Company      Sector  \
Rank
4     Berkshire Hathaway  Financials

                                      Industry  Revenue  Profits  Employees
Rank
4     Insurance: Property and Casualty (Stock)   210821    24083     331000
Sector: Financials, Industry: Real estate
         Company      Sector     Industry  Revenue  Profits  Employees
Rank
259   CBRE Group  Financials  Real estate    10856      547      70000
Sector: Financials, Industry: Securities
        Company      Sector    Industry  Revenue  Profits  Employees
Rank
250   BlackRock  Financials  Securities    11401     3345      13000
Sector: Food and Drug Stores, Industry: Food and Drug Stores
         Company                Sector              Industry  Revenue  \
Rank
7     CVS Health  Food and Drug Stores  Food and Drug Stores   153290

      Profits  Employees
Rank
7        5237     199000
Sector: Food, Beverages & Tobacco, Industry: Beverages
        Company                     Sector   Industry  Revenue  Profits  \
Rank
62    Coca-Cola  Food, Beverages & Tobacco  Beverages    44294     7351

      Employees
Rank
62       123200
Sector: Food, Beverages & Tobacco, Industry: Food Consumer Products
      Company                     Sector                Industry  Revenue  \
Rank
44    PepsiCo  Food, Beverages & Tobacco  Food Consumer Products    63056

      Profits  Employees
Rank
44       5452     263000
Sector: Food, Beverages & Tobacco, Industry: Food Production
                     Company                     Sector         Industry  \
Rank
41    Archer Daniels Midland  Food, Beverages & Tobacco  Food Production

      Revenue  Profits  Employees
Rank
41      67702     1849      32300
Sector: Food, Beverages & Tobacco, Industry: Tobacco
                          Company                     Sector Industry  \
Rank
106   Philip Morris International  Food, Beverages & Tobacco  Tobacco

      Revenue  Profits  Employees
Rank
106     26794     6873      80200
Sector: Health Care, Industry: Health Care: Insurance and Managed Care
                 Company       Sector  \
Rank
6     UnitedHealth Group  Health Care

                                     Industry  Revenue  Profits  Employees
Rank
6     Health Care: Insurance and Managed Care   157107     5813     200000
Sector: Health Care, Industry: Health Care: Medical Facilities
           Company       Sector                         Industry  Revenue  \
Rank
63    HCA Holdings  Health Care  Health Care: Medical Facilities    43591

      Profits  Employees
Rank
63       2129     203500
Sector: Health Care, Industry: Health Care: Pharmacy and Other Services
                      Company       Sector  \
Rank
22    Express Scripts Holding  Health Care

                                      Industry  Revenue  Profits  Employees
Rank
22    Health Care: Pharmacy and Other Services   101752     2476      25900
Sector: Health Care, Industry: Medical Products and Equipment
                  Company       Sector                        Industry  \
Rank
138   Abbott Laboratories  Health Care  Medical Products and Equipment

      Revenue  Profits  Employees
Rank
138     20661     4423      74000
Sector: Health Care, Industry: Pharmaceuticals
                Company       Sector         Industry  Revenue  Profits  \
Rank
39    Johnson & Johnson  Health Care  Pharmaceuticals    70074    15409

      Employees
Rank
39       127100
Sector: Health Care, Industry: Wholesalers: Health Care
       Company       Sector                  Industry  Revenue  Profits  \
Rank
5     McKesson  Health Care  Wholesalers: Health Care   181241     1476

      Employees
Rank
5         70400
Sector: Hotels, Resturants & Leisure, Industry: Food Services
         Company                        Sector       Industry  Revenue  \
Rank
109   McDonald’s  Hotels, Resturants & Leisure  Food Services    25413

      Profits  Employees
Rank
109      4529     420000
Sector: Hotels, Resturants & Leisure, Industry: Hotels, Casinos, Resorts
                     Company                        Sector  \
Rank
195   Marriott International  Hotels, Resturants & Leisure

                      Industry  Revenue  Profits  Employees
Rank
195   Hotels, Casinos, Resorts    14486      859     127500
Sector: Household Products, Industry: Home Equipment, Furnishings
                     Company              Sector                     Industry  \
Rank
256   Stanley Black & Decker  Household Products  Home Equipment, Furnishings

      Revenue  Profits  Employees
Rank
256     11211      884      51250
Sector: Household Products, Industry: Household and Personal Products
               Company              Sector                         Industry  \
Rank
34    Procter & Gamble  Household Products  Household and Personal Products

      Revenue  Profits  Employees
Rank
34      78756     7036     110000
Sector: Household Products, Industry: Miscellaneous
     Company              Sector       Industry  Revenue  Profits  Employees
Rank
450   Mattel  Household Products  Miscellaneous     5703      369      31000
Sector: Industrials, Industry: Construction and Farm Machinery
          Company       Sector                         Industry  Revenue  \
Rank
59    Caterpillar  Industrials  Construction and Farm Machinery    47011

      Profits  Employees
Rank
59       2102     112200
Sector: Industrials, Industry: Electronics, Electrical Equip.
                      Company       Sector                        Industry  \
Rank
75    Honeywell International  Industrials  Electronics, Electrical Equip.

      Revenue  Profits  Employees
Rank
75      38581     4768     129000
Sector: Industrials, Industry: Industrial Machinery
               Company       Sector              Industry  Revenue  Profits  \
Rank
11    General Electric  Industrials  Industrial Machinery   140389    -6126

      Employees
Rank
11       333000
Sector: Industrials, Industry: Miscellaneous
     Company       Sector       Industry  Revenue  Profits  Employees
Rank
93        3M  Industrials  Miscellaneous    30274     4833      89446
Sector: Materials, Industry: Building Materials, Glass
            Company     Sector                   Industry  Revenue  Profits  \
Rank
480   Owens Corning  Materials  Building Materials, Glass     5350      330

      Employees
Rank
480       15000
Sector: Materials, Industry: Forest and Paper Products
           Company     Sector                   Industry  Revenue  Profits  \
Rank
373   Weyerhaeuser  Materials  Forest and Paper Products     7082      506

      Employees
Rank
373       12600
Sector: Materials, Industry: Metals
     Company     Sector Industry  Revenue  Profits  Employees
Rank
126    Alcoa  Materials   Metals    22534     -322      60000
Sector: Materials, Industry: Miscellaneous
                     Company     Sector       Industry  Revenue  Profits  \
Rank
426   A-Mark Precious Metals  Materials  Miscellaneous     6070        7

      Employees
Rank
426          52
Sector: Materials, Industry: Packaging, Containers
                  Company     Sector               Industry  Revenue  Profits  \
Rank
127   International Paper  Materials  Packaging, Containers    22365      938

      Employees
Rank
127       56000
Sector: Media, Industry: Entertainment
     Company Sector       Industry  Revenue  Profits  Employees
Rank
53    Disney  Media  Entertainment    52465     8382     185000
Sector: Media, Industry: Publishing, Printing
                    Company Sector              Industry  Revenue  Profits  \
Rank
255   R.R. Donnelley & Sons  Media  Publishing, Printing    11257      151

      Employees
Rank
255       68400
Sector: Motor Vehicles & Parts, Industry: Motor Vehicles and Parts
             Company                  Sector                  Industry  \
Rank
8     General Motors  Motor Vehicles & Parts  Motor Vehicles and Parts

      Revenue  Profits  Employees
Rank
8      152356     9687     215000
Sector: Retailing, Industry: Automotive Retailing, Services
         Company     Sector                        Industry  Revenue  Profits  \
Rank
136   AutoNation  Retailing  Automotive Retailing, Services    20862      443

      Employees
Rank
136       26000
Sector: Retailing, Industry: General Merchandisers
      Company     Sector               Industry  Revenue  Profits  Employees
Rank
1     Walmart  Retailing  General Merchandisers   482130    14694    2300000
Sector: Retailing, Industry: Specialty Retailers: Apparel
     Company     Sector                      Industry  Revenue  Profits  \
Rank
89       TJX  Retailing  Specialty Retailers: Apparel    30945     2278

      Employees
Rank
89       216000
Sector: Retailing, Industry: Specialty Retailers: Other
     Company     Sector                    Industry  Revenue  Profits  \
Rank
15    Costco  Retailing  Specialty Retailers: Other   116199     2377

      Employees
Rank
15       161000
Sector: Technology, Industry: Computer Peripherals
     Company      Sector              Industry  Revenue  Profits  Employees
Rank
113      EMC  Technology  Computer Peripherals    24704     1990      72000
Sector: Technology, Industry: Computer Software
        Company      Sector           Industry  Revenue  Profits  Employees
Rank
25    Microsoft  Technology  Computer Software    93580    12193     118000
Sector: Technology, Industry: Computers, Office Equipment
     Company      Sector                     Industry  Revenue  Profits  \
Rank
3      Apple  Technology  Computers, Office Equipment   233715    53394

      Employees
Rank
3        110000
Sector: Technology, Industry: Information Technology Services
     Company      Sector                         Industry  Revenue  Profits  \
Rank
31       IBM  Technology  Information Technology Services    82461    13190

      Employees
Rank
31       411798
Sector: Technology, Industry: Internet Services and Retailing
         Company      Sector                         Industry  Revenue  \
Rank
18    Amazon.com  Technology  Internet Services and Retailing   107006

      Profits  Employees
Rank
18        596     230800
Sector: Technology, Industry: Network and Other Communications Equipment
            Company      Sector                                    Industry  \
Rank
54    Cisco Systems  Technology  Network and Other Communications Equipment

      Revenue  Profits  Employees
Rank
54      49161     8981      71833
Sector: Technology, Industry: Scientific,Photographic and Control Equipment
      Company      Sector                                       Industry  \
Rank
133   Danaher  Technology  Scientific,Photographic and Control Equipment

      Revenue  Profits  Employees
Rank
133     20909     3357      81000
Sector: Technology, Industry: Semiconductors and Other Electronic Components
     Company      Sector                                        Industry  \
Rank
51     Intel  Technology  Semiconductors and Other Electronic Components

      Revenue  Profits  Employees
Rank
51      55355    11420     107300
Sector: Telecommunications, Industry: Telecommunications
     Company              Sector            Industry  Revenue  Profits  \
Rank
10      AT&T  Telecommunications  Telecommunications   146801    13345

      Employees
Rank
10       281450
Sector: Transportation, Industry: Airlines
                      Company          Sector  Industry  Revenue  Profits  \
Rank
67    American Airlines Group  Transportation  Airlines    40990     7610

      Employees
Rank
67       118500
Sector: Transportation, Industry: Mail, Package, and Freight Delivery
     Company          Sector                             Industry  Revenue  \
Rank
48       UPS  Transportation  Mail, Package, and Freight Delivery    58363

      Profits  Employees
Rank
48       4844     341240
Sector: Transportation, Industry: Miscellaneous
     Company          Sector       Industry  Revenue  Profits  Employees
Rank
930    Kirby  Transportation  Miscellaneous     2148      227       4200
Sector: Transportation, Industry: Railroads
            Company          Sector   Industry  Revenue  Profits  Employees
Rank
129   Union Pacific  Transportation  Railroads    21813     4772      47457
Sector: Transportation, Industry: Transportation Equipment
                 Company          Sector                  Industry  Revenue  \
Rank
407   Trinity Industries  Transportation  Transportation Equipment     6393

      Profits  Employees
Rank
407       797      22030
Sector: Transportation, Industry: Transportation and Logistics
                      Company          Sector                      Industry  \
Rank
208   C.H. Robinson Worldwide  Transportation  Transportation and Logistics

      Revenue  Profits  Employees
Rank
208     13476      510      13159
Sector: Transportation, Industry: Trucking, Truck Leasing
           Company          Sector                 Industry  Revenue  Profits  \
Rank
395   Ryder System  Transportation  Trucking, Truck Leasing     6572      305

      Employees
Rank
395       33100
Sector: Wholesalers, Industry: Miscellaneous
     Company       Sector       Industry  Revenue  Profits  Employees
Rank
315   Univar  Wholesalers  Miscellaneous     8982       17       9200
Sector: Wholesalers, Industry: Wholesalers: Diversified
                  Company       Sector                  Industry  Revenue  \
Rank
92    World Fuel Services  Wholesalers  Wholesalers: Diversified    30380

      Profits  Employees
Rank
92        187       4700
Sector: Wholesalers, Industry: Wholesalers: Electronics and Office Equipment
           Company       Sector  \
Rank
64    Ingram Micro  Wholesalers

                                           Industry  Revenue  Profits  \
Rank
64    Wholesalers: Electronics and Office Equipment    43026      215

      Employees
Rank
64        27700
Sector: Wholesalers, Industry: Wholesalers: Food and Grocery
     Company       Sector                       Industry  Revenue  Profits  \
Rank
57     Sysco  Wholesalers  Wholesalers: Food and Grocery    48681      687

      Employees
Rank
57        51700

In [40]:
sectors["Revenue"].sum().head(20)

Sector                      Industry
Aerospace & Defense         Aerospace and Defense               357940
Apparel                     Apparel                              95968
Business Services           Advertising, marketing               22748
                            Diversified Outsourcing Services     64829
                            Education                             7485
                            Financial Data Services             100778
                            Miscellaneous                        11185
                            Temporary Help                       34716
                            Waste Management                     30454
Chemicals                   Chemicals                           243897
Energy                      Energy                               67749
                            Mining, Crude-Oil Production        176435
                            Miscellaneous                         3159
                            Oil and Gas Equipment, Services      82827
                            Petroleum Refining                  705472
                            Pipelines                           138756
                            Utilities: Gas and Electric         343411
Engineering & Construction  Engineering, Construction            99774
                            Homebuilders                         54209
Financials                  Commercial Banks                    623669
Name: Revenue, dtype: int64

## The agg Method
- The `agg` method applies different aggregation methods on different columns.
- Invoke the `agg` method directly on the **DataFrameGroupBy** object.
- Pass the method a dictionary where the keys are the columns and the values are the aggregation operations.

In [41]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")

fortune.head(5)

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [44]:
sectors.agg({"Revenue" : "sum", "Profits" : "max"})

                              Revenue  Profits
Sector
Aerospace & Defense            357940     7608
Apparel                         95968     3273
Business Services              272195     6328
Chemicals                      243897     7685
Energy                        1517809    16150
Engineering & Construction     153983      803
Financials                    2217159    24442
Food and Drug Stores           483769     5237
Food, Beverages & Tobacco      555967     7351
Health Care                   1614707    18108
Hotels, Resturants & Leisure   169546     5920
Household Products             234737     7036
Industrials                    497581     4833
Materials                      259145      991
Media                          220764     8382
Motor Vehicles & Parts         482540     9687
Retailing                     1465076    14694
Technology                    1377600    53394
Telecommunications             461834    17879
Transportation                 408508     7610
Wholesalers                    444800     1472

In [45]:
sectors.agg({"Revenue" : "sum", "Profits" : "max"}).index

Index(['Aerospace & Defense', 'Apparel', 'Business Services', 'Chemicals',
       'Energy', 'Engineering & Construction', 'Financials',
       'Food and Drug Stores', 'Food, Beverages & Tobacco', 'Health Care',
       'Hotels, Resturants & Leisure', 'Household Products', 'Industrials',
       'Materials', 'Media', 'Motor Vehicles & Parts', 'Retailing',
       'Technology', 'Telecommunications', 'Transportation', 'Wholesalers'],
      dtype='object', name='Sector')

## Iterating through Groups 
- The **DataFrameGroupBy** object supports the `apply` method (just like a **Series** and a **DataFrame** do).
- The `apply` method invokes a function on every nested **DataFrame** in the **DataFrameGroupBy** object.
- It captures the return values of the functions and collects them in a new **DataFrame** (the return value).

In [46]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")

fortune.head(5)

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [52]:
# Find the two companies in each sector with the most employees

def top_two_companies_by_employee_count(sector):
    return sector.nlargest(2, "Employees")

sectors.apply(top_two_companies_by_employee_count)

/tmp/ipykernel_72362/2503641071.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sectors.apply(top_two_companies_by_employee_count)

                                                    Company  \
Sector                       Rank
Aerospace & Defense          45         United Technologies
                             24                      Boeing
Apparel                      448                Hanesbrands
                             231                         VF
Business Services            199                    Aramark
                             744                  Convergys
Chemicals                    101                     DuPont
                             56                Dow Chemical
Energy                       2                  Exxon Mobil
                             117                Halliburton
Engineering & Construction   156                      AECOM
                             235   Jacobs Engineering Group
Financials                   4           Berkshire Hathaway
                             27                 Wells Fargo
Food and Drug Stores         17                      Kroger
                             19    Walgreens Boots Alliance
Food, Beverages & Tobacco    44                     PepsiCo
                             62                   Coca-Cola
Health Care                  63                HCA Holdings
                             6           UnitedHealth Group
Hotels, Resturants & Leisure 218                 Yum Brands
                             109                 McDonald’s
Household Products           34            Procter & Gamble
                             256     Stanley Black & Decker
Industrials                  11            General Electric
                             75     Honeywell International
Materials                    126                      Alcoa
                             127        International Paper
Media                        53                      Disney
                             255      R.R. Donnelley & Sons
Motor Vehicles & Parts       8               General Motors
                             9                   Ford Motor
Retailing                    1                      Walmart
                             28                  Home Depot
Technology                   31                         IBM
                             20                          HP
Telecommunications           10                        AT&T
                             13                     Verizon
Transportation               48                         UPS
                             58                       FedEx
Wholesalers                  212                     Synnex
                             57                       Sysco

                                                         Sector  \
Sector                       Rank
Aerospace & Defense          45             Aerospace & Defense
                             24             Aerospace & Defense
Apparel                      448                        Apparel
                             231                        Apparel
Business Services            199              Business Services
                             744              Business Services
Chemicals                    101                      Chemicals
                             56                       Chemicals
Energy                       2                           Energy
                             117                         Energy
Engineering & Construction   156     Engineering & Construction
                             235     Engineering & Construction
Financials                   4                       Financials
                             27                      Financials
Food and Drug Stores         17            Food and Drug Stores
                             19            Food and Drug Stores
Food, Beverages & Tobacco    44       Food, Beverages & Tobacco
                             62       Food, Beverages & Tobacco
Health Care                  63                     Health Care
                             6                      Health Care
Hotels, Resturants & Leisure 218   Hotels, Resturants & Leisure
                             109   Hotels, Resturants & Leisure
Household Products           34              Household Products
                             256             Household Products
Industrials                  11                     Industrials
                             75                     Industrials
Materials                    126                      Materials
                             127                      Materials
Media                        53                           Media
                             255                          Media
Motor Vehicles & Parts       8           Motor Vehicles & Parts
                             9           Motor Vehicles & Parts
Retailing                    1                        Retailing
                             28                       Retailing
Technology                   31                      Technology
                             20                      Technology
Telecommunications           10              Telecommunications
                             13              Telecommunications
Transportation               48                  Transportation
                             58                  Transportation
Wholesalers                  212                    Wholesalers
                             57                     Wholesalers

                                                                        Industry  \
Sector                       Rank
Aerospace & Defense          45                            Aerospace and Defense
                             24                            Aerospace and Defense
Apparel                      448                                         Apparel
                             231                                         Apparel
Business Services            199                Diversified Outsourcing Services
                             744                Diversified Outsourcing Services
Chemicals                    101                                       Chemicals
                             56                                        Chemicals
Energy                       2                                Petroleum Refining
                             117                 Oil and Gas Equipment, Services
Engineering & Construction   156                       Engineering, Construction
                             235                       Engineering, Construction
Financials                   4          Insurance: Property and Casualty (Stock)
                             27                                 Commercial Banks
Food and Drug Stores         17                             Food and Drug Stores
                             19                             Food and Drug Stores
Food, Beverages & Tobacco    44                           Food Consumer Products
                             62                                        Beverages
Health Care                  63                  Health Care: Medical Facilities
                             6           Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure 218                                   Food Services
                             109                                   Food Services
Household Products           34                  Household and Personal Products
                             256                     Home Equipment, Furnishings
Industrials                  11                             Industrial Machinery
                             75                   Electronics, Electrical Equip.
Materials                    126                                          Metals
                             127                           Packaging, Containers
Media                        53                                    Entertainment
                             255                            Publishing, Printing
Motor Vehicles & Parts       8                          Motor Vehicles and Parts
                             9                          Motor Vehicles and Parts
Retailing                    1                             General Merchandisers
                             28                       Specialty Retailers: Other
Technology                   31                  Information Technology Services
                             20                      Computers, Office Equipment
Telecommunications           10                               Telecommunications
                             13                               Telecommunications
Transportation               48              Mail, Package, and Freight Delivery
                             58              Mail, Package, and Freight Delivery
Wholesalers                  212   Wholesalers: Electronics and Office Equipment
                             57                    Wholesalers: Food and Grocery

                                   Revenue  Profits  Employees
Sector                       Rank
Aerospace & Defense          45      61047     7608     197200
                             24      96114     5176     161400
Apparel                      448      5732      429      65300
                             231     12377     1232      64000
Business Services            199     14329      236     216500
                             744      2951      169     130000
Chemicals                    101     27940     1953      52000
                             56      48778     7685      49495
Energy                       2      246204    16150      75600
                             117     23633     -671      65000
Engineering & Construction   156     17990     -155      92000
                             235     12115      303      56950
Financials                   4      210821    24083     331000
                             27      90033    22894     264700
Food and Drug Stores         17     109830     2039     431000
                             19     103444     4220     302500
Food, Beverages & Tobacco    44      63056     5452     263000
                             62      44294     7351     123200
Health Care                  63      43591     2129     203500
                             6      157107     5813     200000
Hotels, Resturants & Leisure 218     13105     1293     505000
                             109     25413     4529     420000
Household Products           34      78756     7036     110000
                             256     11211      884      51250
Industrials                  11     140389    -6126     333000
                             75      38581     4768     129000
Materials                    126     22534     -322      60000
                             127     22365      938      56000
Media                        53      52465     8382     185000
                             255     11257      151      68400
Motor Vehicles & Parts       8      152356     9687     215000
                             9      149558     7373     199000
Retailing                    1      482130    14694    2300000
                             28      88519     7009     385000
Technology                   31      82461    13190     411798
                             20     103355     4554     287000
Telecommunications           10     146801    13345     281450
                             13     131620    17879     177700
Transportation               48      58363     4844     341240
                             58      47453     1050     323035
Wholesalers                  212     13338      209      78500
                             57      48681      687      51700

In [50]:
sectors.apply(top_two_companies_by_employee_count).groupby("Industry")

/tmp/ipykernel_72362/1764627116.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sectors.apply(top_two_companies_by_employee_count).groupby("Industry")